.padre{
    width: 700px; /*ancho*/
    height: 600px; /*largo*/
    background-color: cadetblue;
}

.line{
    margin-top: 2px;
    height: 31px;
}
.mario1{
    position: relative;
    left: 510px;
}
.mario2{
    position: relative;
    left: 272px;
}
.mario3{
    position: relative;
    left: 238px;
}

.mario4{
    position: relative;
    left: 204px;
}
.mario5{
    position: relative;
    left: 272px;
}
.mario6{
    position: relative;
    left: 136px;
}
.mario7{
    position: relative;
    left: 102px;
}
.mario8{
    position: relative;
    left: 68px;
}




.piel{
    width: 30px;
    height: 30px;
    background-color: sandybrown;
    position: relative;
    display: inline-block;
}
.gorra{
    width: 30px;
    height: 30px;
    background-color: rgb(196, 1, 1);
    position: relative;
    display: inline-block;
}

.vacio{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.cabello{
    width: 30px;
    height: 30px;
    background-color:maroon;
    position: relative;
    display: inline-block;
}

.ropa{
    width: 30px;
    height: 30px;
    background-color:red;
    position: relative;
    display: inline-block;
}

.boton{
    width: 30px;
    height: 30px;
    background-color:darkgoldenrod;
    position: relative;
    display: inline-block;
}