.caja1{
    background-color: chocolate;
    height: 200px;
    width: 200px;
    padding: 60px;
    padding-top: 80px;
    margin: 40px;
    border-width: 5px;
    border-style: dashed solid;
    border-color: black;

    display: inline-block;
    
}

.caja2{

    background-color: darkgreen;
    border: 80px gold;
    display: inline-block;
}

.caja3{
    height: 600px;
    width: 1000px;
}